@charset "utf-8";
/* CSS Document */

/* 公共 */
* {margin:0px; padding:0px; border:0px; 
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
html {-ms-touch-action: none;font-size:14px;}
img {vertical-align: top;}
body{font-family: "微软雅黑";}
a{color:#000; text-decoration:none;}
.clear{zoom:1;}
.clear:after{content:"";display:block;clear:both;}
.r {position: relative;}
.a {position: absolute;}
.fl {float:left;}
.fr {float:right;}
.db {display: block;}
.dn {display:none;}
.oh {overflow:hidden;}
.w100 {width:100%;}
.mid {margin: 0 auto;}
.tac {text-align:center;}
.cw { line-height:0;font-size:0; overflow:hidden;color:rgba(255,255,255,0);}


/*最宽480*/
@media (min-width: 1024px) {
	.wrapper {width:480px;margin: 0 auto;}
}

/*lufy样式*/
body {background:#000;}
.legend {z-index:2;font-size:0px;}